---
import 'src/styles/_reset.scss';
import SNSLink from 'src/components/SNSLink.astro';
const { title, description, lang = 'ja' } = Astro.props;
---
<html lang={lang}>
  <head prefix="og: https://ogp.me/ns#">
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,user-scalable=yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content={description} />
    <meta name="keywords" content="NI57721, Vim, Neovim" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://NI57721.dev/" />
    <meta property="og:image" content="https://NI57721.dev/path/to/ogp.jpg" />
    <meta property="og:site_name" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:locale" content="ja_JP" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@NI57721" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>

  <style lang="scss">
    header {
      background-color: var.$green-02;
      place-content: center;
      height: 40px;
      width: 100%;
      @include mixin.middle-view {
        min-width: var.$content-width;
      }
      @include mixin.mobile-view {
        height: 12vw;
        padding-inline: 3vw;
      }
    }

    header > ul {
      display: grid;
      grid-template-columns: auto repeat(2, 100px);
      margin-inline: auto;
      padding: 4px 12px;
      text-align: left;
      width: var.$content-width;
      @include mixin.mobile-view {
        grid-template-columns: auto repeat(2, 1fr);
        padding: 1vw 2vw;
        width: 100%;
      }
    }

    header li {
      color: #fff;
      font-size: 16px;
      @include mixin.mobile-view {
        font-size: 5vw;
      }
      &:first-child {
        text-align: left;
      }
      &:not(:first-child) {
        text-align: right;
      }
    }

    main {
      margin: 8px auto;
      padding-inline: 12px;
      text-align: left;
      width: var.$content-width;
      @include mixin.mobile-view {
        margin-block: 2vw;
        padding-inline: 5vw;
        width: 100%;
      }
    }

    footer {
      border-top: solid 1px var.$grey-01;
      border-bottom: solid 2px var.$green-02;
      place-content: center;
      margin-block: 32px 4px;
      width: 100%;
      @include mixin.middle-view {
        min-width: var.$content-width;
      }
      @include mixin.mobile-view {
        margin-block: 10vw .5vw;
        padding-inline: 3vw;
      }
    }

    footer > ul {
      align-items: baseline;
      display: grid;
      grid-column-gap: 16px;
      grid-template-columns: repeat(2, auto) max-content;
      margin-inline: auto;
      padding: 4px 12px;
      text-align: left;
      width: var.$content-width;
      @include mixin.mobile-view {
        grid-template-columns: auto max-content;
        grid-row-gap: 2vw;
        padding: 1vw 2vw;
        width: 100%;
      }
    }

    footer > ul > li {
      color: var.$green-02;
      font-size: 14px;
      @include mixin.mobile-view {
        font-size: 4vw;
      }
      &:first-child {
        text-align: left;
        @include mixin.mobile-view {
          grid-column: 1 / 3;
        }
      }
      &:nth-child(2) {
        text-align: right;
        @include mixin.mobile-view {
          text-align: left;
        }
      }
      &:last-child {
        text-align: right;
      }
    }

    .sns-links {
      display: grid;
      grid-template-columns: repeat(10, max-content);
      @include mixin.mobile-view {
        grid-gap: 3vw;
      }
    }
  </style>

  <body>
    <header>
      <ul>
        {['root', 'profile', 'blog'].map((item: string) =>
          <li>
            <a href={item === 'root' ? '/' : '/' + item}>
              {item === 'root' ? 'NI57721' : item.replace(/./, (c) => c.toUpperCase())}
            </a>
          </li>
        )}
      </ul>
    </header>

    <div class="--loading">
      <div class="--loading-inner"></div>
      <div class="--wait-until-loaded">
      </div>
    </div>

    <main class="main --wait-until-loaded" role="main">
      <slot />
    </main>

    <footer>
      <ul>
        <li>
          <ul class="sns-links">
            {
              [
                {icon: 'mdi:github',      url: 'https://github.com/NI57721'},
                {icon: 'prime:twitter',   url: 'https://x.com/NI57721'},
                {icon: 'ri:bluesky-fill', url: 'https://bsky.app/profile/ni57721.bsky.social'},
              ].map((snsData: {icon: string, url: string}) =>
                <li>
                  <SNSLink icon={snsData.icon} url={snsData.url}/>
                </li>
              )
            }
          </ul>
        </li>
        <li><a href="/legal">LEGAL</a></li>
        <li>&copy;NI57721 All Rights Reserved</li>
      </ul>
    </footer>
  </body>
</html>

