---
import { ClientRouter } from "astro:transitions";
import { SITE } from "@/config/site";
import "@/styles/_reset.scss";

interface Props {
  title?: string;
  description?: string;
  lang?: string;
}

const { title, description, lang } = Astro.props;
const pageTitle = title ? `${title} | ${SITE.name}` : SITE.name;
const pageDescription = description || SITE.description;
const pageLocale = locale(lang);

function locale(lang: string | undefined): string {
  switch (lang) {
    case "ja":
      return "ja_JP";
    case "en":
      return "en_GB";
    default:
      return "en_GB";
  }
}
---

<html lang={lang}>
  <head prefix="og: https://ogp.me/ns#">
    <title>{pageTitle}</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,user-scalable=yes"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content={pageDescription} />
    <meta
      name="keywords"
      content="NI57721, Vim, Neovim, Astronomy, Art, Philosphy"
    />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://NI57721.dev/" />
    <meta property="og:image" content="https://NI57721.dev/path/to/ogp.jpg" />
    <meta property="og:site_name" content={SITE.name} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:locale" content={pageLocale} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@NI57721" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ClientRouter />
  </head>

  <body>
    <slot />
  </body>
</html>
