---
import Base from "@/layouts/Base.astro";
import "@/styles/post-body.scss";

const { frontmatter, lang } = Astro.props;
---

<style lang="scss">
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 14px;
    text-align: right;
  }

  p:nth-child(3) {
    color: var.$green-02;
  }
</style>

<Base
  title={frontmatter.title}
  description={frontmatter.description}
  lang={lang}
>
  <h1>{frontmatter.title}</h1>
  <p>publish: {frontmatter.publishDate}</p>
  {
    frontmatter.updatedDate !== undefined && (
      <p>updated: {frontmatter.updatedDate}</p>
    )
  }
  <section class="post-body">
    <slot />
  </section>
</Base>
